<!DOCTYPE html>
<html>
<head>
  <title>PeanutShutter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>

</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container">

        <div class="naviHeader">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse navHeaderCollapse">
              <ul class="nav navbar-nav navbar-left">
                <li><a href="/">Peanut Shutter</a></li>
              </ul>
              <form action="/users" method="get" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input name="search" type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>



              <ul class="nav navbar-nav navbar-right">
                <% if current_user %>
                  <li><%= image_tag current_user.avatar.url(:thumb), :id => 'user-avatar' %></li>
                  <li><%= link_to current_user.name.capitalize, user_path(current_user.id) %></li>
                  <li><%= link_to 'Logout', session_path('current'), :method => 'delete' %></li>
                <% else %>
                  <li><%= link_to 'Sign Up', new_user_path %></li>
                  <li><%= link_to 'Login', new_session_path %></li>
                <% end  %>
              </ul>
          </div>
        </div>
      </div>
    </nav>


  <div id="wrapper">

    <%= yield %>
    <div class="clear"></div>
    <%= flash[:notice] %>
  </div>
<% if current_page?(users_path) %>

  <% if @users.first != nil %>
    <div id="search-results">
      <p>Search results:</p>
      <% @users.each do |user| %>
        <%= user.name %>
      <% end %>
    </div>
  <% end %>
<% end %>


<script type="text/javascript">
$(document).ready(function() {
  $(".fancybox").fancybox({
    'transitionIn'  : 'elastic',
    'transitionOut' : 'elastic',
    'speedIn'   : 600,
    'speedOut'    : 200,
    'overlayShow' : false
  });

  $('.fancybox').on({
    mouseenter: function() {
      $(this).find('.edit-photo').fadeToggle();
    },
    mouseleave: function() {
      $(this).find('.edit-photo').fadeToggle();
    }
  });

  $('.like2').on({
    mouseenter: function() {
      $(this).find('.like').fadeToggle();
    },
    mouseleave: function() {
      $(this).find('.like').fadeToggle();
    }
  });

  $('.edit-photo').on('click', function() {
    url = $(this).data('url');
    document.location = url;
  })

  // $('a.fancybox').hover(function() {
  //   $(this).find('.like').toggle();
  // })

});


</script>


</body>
</html>
